body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

#heading{
    padding: 15px 0px;
    text-align: center;
    margin: auto;
    font-size: 40px;
    color: blue;
}

form{
    margin: 0px auto;
    background-color: aliceblue;
    border: 10px;
    border-radius: 20px;
    width: 40%;
/*  box-shadow: horizontal displacement vertical displacement shadow spread colour(0,0,0,opacity)*/
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

button{
    display: block;
    margin: 10px auto;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 15px 0px;
    width: 50%;
    height: 70px;
    transition: .3s;
    font-size: larger;
    position:absolute;
    bottom: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 94, 255);
}

button:active{
    cursor: pointer;
    background-color: whitesmoke;
    color: blue;
}

.questions{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: blue;
    font-size: larger;
}

.container {
    background: white;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    position: relative;

}

.question-text{
    margin-bottom: 10px;
    background-color: grey;
    color: white;
    padding: 10px;
    border: 100px;
    flex-basis: 100%;
    width: 120%;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-left: -84px;
    margin-right: 84px;
}

header{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    width: auto;
    border-radius: 10px;
}