/*Page Style*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: mediumslateblue;
    margin: 0;
    padding: 20px; 

}

body{
    background-image: url();
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center; 
}

/*Main Quiz Style*/
#quiz{
    background: azure;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*Question Block*/
.question{
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-style: outset;
    border-bottom: 1px solid #ddd;
}

/*Question Text*/
.question-text{
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #ddd;
}

/*Options Area*/
.options div{
margin-bottom: 5px;
}

/*Radio Button Visibilty*/
input[type="radio"]{
    transform: scale(1.1);
    margin-right: 5px;
}

/*Submit Button*/
.submit button {
  width: 100%;
  padding: 12px 0;
   background-color: #4285f4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/*Button Hover Pseudo Class*/
.submit button:hover{
     background-color: #33d633;
}